/*
MarketPress Theme: Classic
*/
div.mp_product_meta {
clear: both;
overflow: hidden;
margin-top: 10px;
}

form.mp_buy_form {
float: right;
}

form.mp_product_price {
float: left;
}

.mp_product_price {
line-height: 40px;
}

.product {
border-top: 2px solid #cccccc;
margin-top: 10px;
padding: 10px 0 20px;
}

li.product {
border: none;
padding: 0px;
}

.mp_button_addcart, .mp_button_buynow, .mp_cart_col_updatecart input[type=submit], #mp_shipping_submit, #mp_payment_confirm {
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

.mp_button_addcart:hover, .mp_button_buynow:hover, .mp_cart_col_updatecart input[type=submit]:hover, #mp_shipping_submit:hover, #mp_payment_confirm:hover {
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_link_addcart, a.mp_link_buynow {
float: right;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_link_addcart:hover, a.mp_link_buynow:hover {
float: right;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

del.mp_old_price {
margin-right: 5px;
}
form.mp_buy_form .mp_adding_to_cart {
color: #ffffff;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #82b33d;
border: 1px solid #82b33d;
}
form.mp_buy_form .mp_no_stock {
color: #ffffff;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #111111;
border: 1px solid #9A0000;
}

#mp_cart_updated_msg {
background-color: #FFFFE0;
border: 1px solid #E6DB55;
margin: 10px 0px;
padding: .5em;
}
div.mp_checkout_error {
background: #ffdddd;
border: 1px solid #ffafaf;
margin: 10px 0px;
padding: 10px 10px 10px 30px;
}
table.mp_cart_login td, table.mp_cart_contents td, table.mp_cart_shipping td {
vertical-align: middle;
}
td.mp_cart_subtotal_lbl {
text-align: right;
}
td.mp_cart_col_quant input {
margin: 0;
text-align: center;
}
td.mp_cart_col_updatecart input {
margin: 0;
}
table.mp_cart_shipping input, table.mp_cart_shipping select {
margin: 0;
}
p.mp_cart_direct_checkout, p.mp_cart_login_msg {
text-align: right;
margin-bottom: 5px;
}
a.mp_cart_direct_checkout_link {
color: #333333;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_cart_direct_checkout_link:hover {
color: #333333;
font-weight: bold;
padding: 5px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_cart_direct_checkout_link:hover {
border-color: #ccc;
}

.mp_product_image_list, .mp_product_image_single, .mp_product_image_widget {
border: 1px solid #eeeeee;
}

.mp_cart_contents_widget td {
padding: 5px;
}

.mp_cart_contents_widget th {
background: #eeeeee;
}

.mp_cart_contents_widget tr, .mp_cart_contents_widget td, .mp_cart_contents_widget tbody {
border: 1px solid #eeeeee;
}

.mp_cart_actions_widget {
padding-top: 10px;
}

.mp_checkout_link {
float: right;
}

.mp_cart_contents thead, .mp_cart_shipping thead {
background: #eeeeee;
}

.mp_product_categories {
padding: 10px;
border: 1px solid #e2e2e2;
background: #eeeeee;
}

td.mp_cart_col_downloads {
font-size: 80%;
}
