/*
MarketPress Theme: Icons
*/

/* icons by FamFam http://www.famfamfam.com/lab/icons/silk/ */

div.mp_product_meta {
clear: both;
overflow: hidden;
margin-top: 10px;
}

form.mp_buy_form {
float: right;
}

form.mp_product_price {
float: left;
}

.mp_product_price {
line-height: 40px;
}

.product {
border-top: 2px dotted #cccccc;
margin-top: 10px;
padding: 10px 0 20px;
}

li.product {
border: none;
padding: 0px;
}

.mp_button_addcart, .mp_button_buynow, .mp_cart_col_updatecart input[type=submit], #mp_shipping_submit, #mp_payment_confirm, #mp_payment_submit {
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
background: -moz-linear-gradient(center bottom , rgb(199, 199, 199) 39%, rgb(230, 230, 230) 67%) repeat scroll 0% 0% transparent;
border: 1px solid #e1e1e1;
}

.mp_button_addcart:hover, .mp_button_buynow:hover, .mp_cart_col_updatecart input[type=submit]:hover, #mp_shipping_submit:hover, #mp_payment_confirm:hover {
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_link_addcart, a.mp_link_buynow {
float: right;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
background: -moz-linear-gradient(center bottom , rgb(199, 199, 199) 39%, rgb(230, 230, 230) 67%) repeat scroll 0% 0% transparent;
border: 1px solid #e1e1e1;
}

a.mp_link_addcart:hover, a.mp_link_buynow:hover {
float: right;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

del.mp_old_price {
margin-right: 5px;
}
form.mp_buy_form .mp_adding_to_cart {
color: #ffffff;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #82b33d;
background: -moz-linear-gradient(center bottom , rgb(130, 179, 61) 39%, rgb(167, 204, 94) 67%) repeat scroll 0% 0% transparent;
border: 1px solid #82b33d;
}
form.mp_buy_form .mp_no_stock {
color: #ffffff;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #111111;
background: -moz-linear-gradient(center bottom , rgb(186, 2, 2) 39%, rgb(224, 0, 0) 67%) repeat scroll 0% 0% transparent;
border: 1px solid #9A0000;
}

#mp_cart_updated_msg {
background-color: #FFFFE0;
-moz-border-radius: 3px 3px 3px 3px;
border: 1px solid #E6DB55;
margin: 10px 0px;
padding: .5em;
}
div.mp_checkout_error {
background: #ffdddd url('modern-images/error.png') no-repeat 5px 12px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #ffafaf;
margin: 10px 0px;
padding: 10px 10px 10px 30px;
}
table.mp_cart_login td, table.mp_cart_contents td, table.mp_cart_shipping td {
vertical-align: middle;
}
td.mp_cart_subtotal_lbl {
text-align: right;
}
td.mp_cart_col_quant input {
margin: 0;
text-align: center;
}
td.mp_cart_col_updatecart input {
margin: 0;
}
table.mp_cart_shipping input, table.mp_cart_shipping select {
margin: 0;
}
p.mp_cart_direct_checkout, p.mp_cart_login_msg {
text-align: right;
margin-bottom: 5px;
}
a.mp_cart_direct_checkout_link {
color: #333333;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
background: -moz-linear-gradient(center bottom , rgb(199, 199, 199) 39%, rgb(230, 230, 230) 67%) repeat scroll 0% 0% transparent;
border: 1px solid #e1e1e1;
}

a.mp_cart_direct_checkout_link:hover {
color: #333333;
font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
padding: 5px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background: #e2e2e2;
border: 1px solid #e1e1e1;
}

a.mp_cart_direct_checkout_link:hover {
border-color: #ccc;
}

.mp_product_image_list, .mp_product_image_single, .mp_product_image_widget {
-moz-box-shadow: 3px 3px 4px #cccccc; 
 -webkit-box-shadow: 3px 3px 4px #cccccc; 
 box-shadow: 3px 3px 4px #cccccc;
border: 1px solid #eeeeee;
}

.mp_cart_contents_widget td {
padding: 5px;
}

.mp_cart_contents_widget th {
background: #eeeeee;
}

.mp_cart_contents_widget tr, .mp_cart_contents_widget td, .mp_cart_contents_widget tbody {
border: 1px solid #eeeeee;
}

.mp_cart_actions_widget {
padding-top: 10px;
}

.mp_cart_widget h3 {
padding: 0px 0px 10px 30px;
background: url('modern-images/basket.png') no-repeat;
}

.mp_checkout_link {
font-size: 14px;
padding: 0px 0px 0px 20px;
background: url('modern-images/basket_go.png') no-repeat;
float: right;
}

.mp_empty_cart {
font-size: 14px;
background: url('modern-images/basket_delete.png') no-repeat;
margin-right: 10px;
padding: 0px 0px 0px 20px;
}

.mp_product_categories {
background: url('modern-images/package.png') no-repeat 0 3px;
margin-right: 10px;
padding: 0px 0px 0px 20px;
}

.mp_product_meta {
background: url('modern-images/money.png') no-repeat 0 12px;
margin-right: 10px;
padding: 0px 0px 0px 20px;
}

ul.mp_store_navigation, ul#mp_popular_products, ul#mp_category_list, li.product_category ul, ul#mp_product_list {
list-style: none;
margin: 10px 0px;
}

.mp_store_navigation li, #mp_popular_products li, #mp_category_list li, .product_category li {
background: url('modern-images/arrow_right.png') no-repeat 0px 3px;
padding-left: 20px;
}

.mp_cart_contents thead, .mp_cart_shipping thead {
background: #eeeeee;
}

.mp_cart_contents th.mp_cart_col_product {
background: url('modern-images/basket.png') no-repeat 5px 7px;
}

.mp_cart_contents th.mp_cart_col_price {
background: url('modern-images/money.png') no-repeat 5px 7px;
}

.mp_cart_contents th.mp_cart_col_quant {
background: url('modern-images/basket_add.png') no-repeat 5px 7px;
}

.mp_cart_shipping thead {
background: #eeeeee url('modern-images/lorry.png') no-repeat 5px 9px;
}

.mp_product_categories {
padding: 10px;
border: 1px solid #e2e2e2;
background: #eeeeee;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

td.mp_cart_col_downloads {
font-size: 80%;
}