.clearfix:after{clear:both;content:" ";display:table;font-size:0;height:0;line-height:0;visibility:hidden}.button.mp-create-page-button,.button.mp-edit-page-button{margin-left:15px}.button.mp-create-page-button.working,.button.mp-edit-page-button.working{display:none}.mp-store-page-slug{display:inline-block;margin-right:5px}#mp-coupon-form td,#mp-coupon-form th{vertical-align:top}.mp-tooltip{position:relative;cursor:pointer}.mp-tooltip>span{position:absolute;top:50%;left:30px;z-index:100;background:#fafafa;border:1px solid #fff;border-radius:5px;-moz-box-shadow:-3px 0 10px 1px rgba(0,0,0,0.12);-webkit-box-shadow:-3px 0 10px 1px rgba(0,0,0,0.12);box-shadow:-3px 0 10px 1px rgba(0,0,0,0.12);color:#555;display:none;font:12px/1.3 Verdana,Geneva,sans-serif;padding:20px;text-align:left;width:255px}.mp-tooltip>span:before{position:absolute;top:50%;left:-10px;border-top:10px solid transparent;border-right:10px solid #fafafa;border-bottom:10px solid transparent;content:"";font-size:0;line-height:0;margin-top:-12px;width:0}.mp-tooltip-button{position:absolute;top:5px;right:5px;color:inherit;display:block;line-height:1;padding:5px;text-decoration:none}#mp-shortcode-builder-form{padding:20px}#mp-shortcode-builder-form .form-table td,#mp-shortcode-builder-form .form-table th{padding-top:10px;padding-bottom:10px;vertical-align:top}#mp-shortcode-builder-form .form-table select,#mp-shortcode-builder-form .form-table input[type="text"],#mp-shortcode-builder-form .form-table textarea{width:100%}.mp-wrap .mp-settings-title{margin:0;padding-bottom:30px}.mp-wrap .mp-help-icon{display:inline-block;float:right;font:normal normal 30px/1 dashicons;margin:-6px -10px 0 0;outline:0;text-decoration:none;vertical-align:top}.mp-wrap .mp-help-icon:before{content:"\f223"}.mp-wrap .mp-help-text{display:none}.mp-wrap .form-table td,.mp-wrap .form-table th{vertical-align:top}.mp-wrap .mp-tabs{float:left;margin:0;padding:0;width:150px}.mp-wrap .mp-tab{position:relative;z-index:10;border:1px solid transparent;border-radius:4px 0 0 4px;border-width:1px 0 1px 1px;font-weight:700;text-transform:uppercase}.mp-wrap .mp-tab.active{background:#fff;border-color:#ccc}.mp-wrap .mp-tab.active:after{position:absolute;top:0;right:-1px;bottom:0;background:#fff;content:"";display:block;font-size:0;line-height:0;width:1px}.mp-wrap .mp-tab.active .mp-tab-link{color:#222}.mp-wrap .mp-tab-link{display:block;padding:8px 15px;text-decoration:none}.mp-wrap .mp-postbox{border-top:2px dotted #ccc;margin-top:20px;padding-top:20px}.mp-wrap .mp-postbox .hndle{position:relative;cursor:pointer}.mp-wrap .mp-postbox .hndle:after{position:absolute;top:0;right:0;content:"\f460";font:normal normal 100%/1 dashicons}.mp-wrap .mp-postbox.closed .hndle:after{content:"\f132"}.mp-wrap .mp-postbox.closed .inside{display:none}.mp-wrap .mp-postbox:first-child{border-top:0;margin-top:0;padding-top:0}.mp-wrap .mp-description{width:65%}.mp-wrap .mp-column{clear:left;display:block;float:left;padding-bottom:10px}.mp-wrap .mp-column.last{clear:right;margin-left:30px}.mp-wrap .mp-label{display:block;padding-bottom:5px}.mp-wrap .mp-theme-preview{border:1px solid transparent;border-radius:4px;color:#444;display:block;float:left;margin:0 0 0 -16px;min-width:425px;padding:15px;text-decoration:none;width:100%}.mp-wrap .mp-theme-preview h4{margin-top:0;padding:0}.mp-wrap .mp-theme-preview img{background:#fff;box-shadow:0 0 5px rgba(0,0,0,0.1);float:left;padding:5px}.mp-wrap .mp-theme-preview p{font-size:85%;overflow:hidden;margin:1em 0 0;padding:0 0 0 25px;width:215px}.mp-wrap .mp-theme-preview p:first-child{margin:0}.mp-wrap .mp-theme-preview:hover{background:#fafafa;border-color:#ccc;box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,0.15)}.mp-wrap .mp-theme-preview:first-child{margin-top:-16px}.mp-wrap .mp-theme-preview.last{margin-bottom:0}

#cboxContent #cboxClose{
    background: url(../images/mp-close.png) no-repeat top center !important;
    margin-top:17px;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    z-index: 9999;
}

#cboxContent #cboxTitle{
    position: absolute;
    top: 17px;
    left: 0;
    color: #000;
    font-size: 18px;
    margin-left: 0%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 17px;
    width: 98%;
    padding-left: 20px;
    min-height: 20px;
}

#cboxLoadedContent {
    border: 0px;
    padding-top: 75px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.meta-box-sortables.store-settings_page_store-settings-payments{
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 00;

  /* Good browsers */
  opacity: 0;
}