.store-management-left,
.store-management-right{
    width: 50%;
    float: left;
    margin-top: 0px;
}

.store-management ul span{
    font-weight: bold;
    color: #000;
}

#mp_store_management p:first-child span,
#mp_store_report p:first-child span{
    font-weight: bold;
}

.mp-dashboard-section-title{
    font-weight: bold;
    color: #000;
    display: block;
}

.mp-dashboard-stats-wrapper{
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.mp-dashboard-square{
    text-align: center;
    float: left;
    width: 45.8%;
    padding: 2%;
}

.mp-dashboard-square:first-child{
    border-bottom: 1px inset #ccc;
    border-right: 1px inset #ccc;
}

.mp-dashboard-square:nth-child(2){
    border-bottom: 1px inset #ccc;
}

.mp-dashboard-square:nth-child(3){
    border-right: 1px inset #ccc;
}

.mp-dashboard-square-title{
    text-transform: uppercase;
    color: #ccc;
    font-size: 11px;
    display: block;
}

.mp-dashboard-square-footer{
    color: #ccc;
    font-size: 10px;
    display: block;
}

.mp-dashboard-square-amount{
    color: #000;
    font-size: 22px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}


