// Classes

// Clearfix
.cf,
.clearfix {
	&:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
}

// Responsive Helpers
.hide-to-large {
	@include bp(desktop-large) {
		display: none;
	}
}
.hide-to-desktop {
	@include bp(desktop) {
		display: none;
	}
}

#colorbox{
        z-index: 999997 !important;
}