label.error {
  position: relative;
  background: #cc1e1e;
  border-radius: 3px;
  color: #fff;
  display: inline-block !important;
  line-height: 1;
  margin: 5px 0 0;
  padding: 8px 8px 8px 20px;
  vertical-align: middle;
}
label.error:before {
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  content: "\f158";
  font-family: dashicons;
  font-size: 20px;
  margin: -9px 0 0;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 100%;
}
.postbox.wpmudev-postbox .inside {
  padding: 0;
  /**
	 * Metabox Desc
	 */

  /**
	 * Tooltips
	 */

  /**
	 * Advanced Select Field
	 */

  /**
	 * File Field
	 */

  /**
	 * Section Field
	 */

  /**
	 * WYSIWYG Field
	 */

  /**
	 * Complex Field
	 */

  /**
	 * Radio Group
	 */

  /**
	 * Image Field
	 */

  /**
	 * Repeater Field
	 */

}
.postbox.wpmudev-postbox .inside input[type="text"],
.postbox.wpmudev-postbox .inside input[type="password"],
.postbox.wpmudev-postbox .inside input[type="hidden"],
.postbox.wpmudev-postbox .inside textarea {
  line-height: 1.2;
  padding: 7px;
  width: 100%;
}
.postbox.wpmudev-postbox .inside .hndle {
  cursor: default;
}
.postbox.wpmudev-postbox .inside .wpmudev-field {
  padding: 12px;
}
.postbox.wpmudev-postbox .inside .wpmudev-field:first-child {
  border: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-field.shaded {
  background: #fafafa;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-label {
  font-weight: 700;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-desc {
  font-size: 0.85em;
  padding-bottom: 5px;
}
.postbox.wpmudev-postbox .inside span.required {
  color: #f00;
  display: inline-block;
  padding-left: 1px;
}
.postbox.wpmudev-postbox .inside .wpmudev-metabox-desc {
  font-style: italic;
  padding: 12px;
}
.postbox.wpmudev-postbox .inside .wpmudev-metabox-tooltip {
  position: relative;
}
.postbox.wpmudev-postbox .inside .wpmudev-metabox-tooltip > span {
  position: absolute;
  bottom: 25px;
  left: 50%;
  background: #222;
  border-radius: 4px;
  color: #fff;
  display: none;
  font: 11px/1.3 Verdana, Geneva, sans-serif;
  margin-left: -75px;
  opacity: .9;
  padding: 8px;
  width: 150px;
}
.postbox.wpmudev-postbox .inside .wpmudev-metabox-tooltip > span:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  border-top: 6px solid #222;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  font-size: 0;
  line-height: 0;
  margin-left: -14px;
  width: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-metabox-tooltip:hover > span {
  display: block;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-advanced-select .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-file .button {
  height: 33px;
  line-height: 32px;
  margin-top: 1px;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-section .wpmudev-field-label,
.postbox.wpmudev-postbox .inside .wpmudev-field-section .wpmudev-field-desc {
  display: none;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-section .wpmudev-section-title {
  margin-bottom: 0 !important;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-section .wpmudev-section-title + p {
  margin-top: 0;
}
.postbox.wpmudev-postbox .inside .wp-switch-editor {
  text-decoration: none;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-complex .wpmudev-field-complex-label {
  display: block;
  padding-bottom: 15px;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-complex .wpmudev-field-complex-label span {
  color: #999;
  font-size: 90%;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-complex .columns .wpmudev-field-complex-label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-complex .columns .wpmudev-field-complex-label:first-child {
  padding-left: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-radio-group.vertical label:before {
  content: "";
  display: block;
  height: 10px;
}
.postbox.wpmudev-postbox .inside .wpmudev-radio-group.vertical label:first-child:before {
  display: none;
}
.postbox.wpmudev-postbox .inside .wpmudev-radio-group label {
  margin-right: 30px;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview {
  position: relative;
  float: left;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview img {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 3px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview .wpmudev-image-field-edit,
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview .wpmudev-image-field-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 25;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  padding: 5px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview .wpmudev-image-field-edit {
  margin: -15px 0 0 -35px;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview .wpmudev-image-field-delete {
  margin: -15px 0 0 5px;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview:hover .wpmudev-image-field-edit,
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview:hover .wpmudev-image-field-delete {
  opacity: 1;
}
.postbox.wpmudev-postbox .inside .wpmudev-image-field-preview:hover img {
  opacity: .3;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-repeater {
  padding-left: 0;
  padding-right: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-field-repeater .wpmudev-field-label,
.postbox.wpmudev-postbox .inside .wpmudev-field-repeater .wpmudev-field-desc,
.postbox.wpmudev-postbox .inside .wpmudev-field-repeater .wpmudev-repeater-field-actions {
  padding-left: 12px;
  padding-right: 12px;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfields {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #777;
  width: 100%;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group-wrap {
  background: #999;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 10px;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #fff;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group td {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #fff;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group:first-child {
  border-top: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group:first-child td {
  border-top: 0;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group:nth-child(even),
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group:nth-child(even) td {
  background: #f9f9f9;
}
.postbox.wpmudev-postbox .inside div.wpmudev-subfield-group {
  display: table;
  width: 100%;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group-index span {
  color: #ddd;
  cursor: move;
  display: inline-block;
  font-size: 18px;
}
.postbox.wpmudev-postbox .inside div.wpmudev-subfield-group-index {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group-fields {
  display: table-cell;
  vertical-align: top;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group-fields .wpmudev-subfield-label {
  float: left;
  width: 20%;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-group-fields .wpmudev-subfield-label + .wpmudev-subfield-input {
  float: right;
  width: 75%;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-delete-group-link-wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-delete-group-link-wrap .wpmudev-subfield-delete-group-link {
  position: static;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-delete-group-link {
  position: absolute;
  top: 50%;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  margin-top: -9px;
  text-decoration: none;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-delete-group-link:after {
  color: #ddd;
  content: "\f158";
  font-family: dashicons;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-delete-group-link:hover:after {
  color: #999;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-label {
  font-weight: 700;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield-desc {
  color: #666;
  display: block;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield {
  padding: 10px 5px;
}
.postbox.wpmudev-postbox .inside .wpmudev-subfield input,
.postbox.wpmudev-postbox .inside .wpmudev-subfield select,
.postbox.wpmudev-postbox .inside .wpmudev-subfield textarea {
  margin: 0;
}
