
label {
	width: 50%;
	display: inline-block;
}

.mp-checkboxes label {
	float: left;
}

#response-top li,
#response-bottom li {
	border-color: #DFDFDF;
	border-style: solid;
	border-width: 0 0 1px;
	float: none;
}

#response-top span,
#response-bottom span {
	float: none;
}

#response-top span.error,
#response-bottom span.error {
	color: red;
}

#response-bottom span.error {
	color: red;
}

#progress-bar {
	position: absolute;
	bottom: -50px;
	left:0;
	right: 0;
}

.ui-progressbar-value {
	height: 40px;
}