.clearfix:after {
  content: "";
  display: table;
}
#colorbox span.mp_input_error,
#mp_single_product span.mp_input_error {
  position: relative;
  background: #b90303;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
  padding: 0 10px;
  vertical-align: top;
}
#colorbox span.mp_input_error:before,
#mp_single_product span.mp_input_error:before {
  position: absolute;
  top: 50%;
  left: -3px;
  content: "";
  font-size: 0;
  line-height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid #b90303;
  border-bottom: 3px solid transparent;
  margin-top: -3px;
  width: 0;
}
/*
 * Product variations lightbox styles
 */
.mp_product_options_cb {
  width: 600px;
}
#colorbox .mp_product_options_cb,
#mp_single_product .mp_product_options_cb {
  font-size: 14px;
}
#colorbox .mp_product_options_cb h4,
#mp_single_product .mp_product_options_cb h4 {
  font-size: 1em;
  margin-bottom: 15px;
}
#colorbox .mp_product_name,
#mp_single_product .mp_product_name {
  padding-right: 30px;
}
#colorbox .mp_product_options_att,
#mp_single_product .mp_product_options_att {
  margin-bottom: 10px;
}
#colorbox .mp_product_options_att_label,
#mp_single_product .mp_product_options_att_label {
  display: block;
  line-height: 24px;
  margin-bottom: 5px;
}
#colorbox .mp_product_options_att_input_label,
#mp_single_product .mp_product_options_att_input_label {
  position: relative;
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 5px;
  overflow: hidden;
}
#colorbox .mp_product_options_att_input_label input[type="radio"],
#mp_single_product .mp_product_options_att_input_label input[type="radio"] {
  display: none;
}
#colorbox .mp_product_options_att_input_label input[type="radio"]:checked + span,
#mp_single_product .mp_product_options_att_input_label input[type="radio"]:checked + span {
  background: #bababa;
  font-weight: 700;
}
#colorbox .mp_product_options_att_input_label span,
#mp_single_product .mp_product_options_att_input_label span {
  background: #eaeaea;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 6px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
#colorbox .mp_product_options_att_input_label span:hover,
#mp_single_product .mp_product_options_att_input_label span:hover {
  background-color: #333;
  color: #fff;
}
#colorbox .mp_product_options_thumbs,
#mp_single_product .mp_product_options_thumbs {
  padding-top: 3px;
}
#colorbox .mp_product_options_thumb_small_link,
#mp_single_product .mp_product_options_thumb_small_link {
  border: 1px solid #eaeaea;
  display: block;
  float: left;
  padding: 2px;
}
#colorbox .mp_product_options_image,
#mp_single_product .mp_product_options_image {
  float: left;
  margin-right: 40px;
}
#colorbox .mp_product_options_content,
#mp_single_product .mp_product_options_content {
  overflow: hidden;
}
#colorbox .mp_product_options_excerpt p,
#mp_single_product .mp_product_options_excerpt p {
  margin-bottom: 10px;
}
#mp_product_options_att_quantity {
  border: 2px solid #ddd;
  padding: 3px 6px;
  -moz-transition: border-color 300ms;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
  width: 50px;
}
#mp_product_options_att_quantity:active,
#mp_product_options_att_quantity:focus {
  border-color: #aaa;
}
#mp_single_product .alignleft {
  margin: 0 30px 0 0;
}
#mp_single_product .mp_product_variant_images {
  clear: both;
}
#mp_single_product .mp_variant_image_link {
  border: 1px solid #eaeaea;
  display: block;
  float: left;
  overflow: hidden;
  margin-left: 10px;
  padding: 2px;
}
#mp_single_product .mp_variant_image_link:first-child {
  margin-left: 0;
}
#mp_single_product .mp_variant_image_link:hover,
#mp_single_product .mp_variant_image_link.selected {
  border-color: #aaa;
}
#mp_single_product .mp_product_content_text {
  overflow: hidden;
}
#mp_single_product .mp_product_tab_labels,
#mp_single_product .mp_product_tab_label {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mp_single_product .mp_product_tab_labels {
  border-bottom: 2px solid #eaeaea;
  margin: 25px 0;
  padding: 0 15px;
}
#mp_single_product .mp_product_tab_label {
  float: left;
}
#mp_single_product .mp_product_tab_label.current .mp_product_tab_label_link {
  background: #eaeaea;
  border-radius: 4px 4px 0 0;
}
#mp_single_product .mp_product_tab_label_link {
  display: block;
  line-height: 50px;
  padding: 0 15px;
}
#mp_product_list .mp_one_product {
  position: relative;
}
#mp_product_list .mp-ajax-loader {
  position: absolute;
  left: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 7px 10px;
  width: 100%;
}
#mp_product_list .mp-ajax-loader img {
  display: inline-block;
  margin-right: 5px;
}
#mp_product_list .mp_link_buynow.has_variations {
  position: relative;
  cursor: pointer;
}
#mp_product_list .mp_link_buynow.has_variations ul {
  position: absolute;
  left: 50%;
  bottom: 27px;
  z-index: 50;
  background: #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  margin-left: -75px;
  padding: 10px 0;
  text-align: left;
  text-transform: none;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 150px;
}
#mp_product_list .mp_link_buynow.has_variations ul:after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  border-top: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  font-size: 0;
  line-height: 0;
  content: "";
  margin-left: -8px;
  width: 0;
}
#mp_product_list .mp_link_buynow.has_variations a {
  display: block;
  padding: 5px 10px;
  -moz-transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}
#mp_product_list .mp_link_buynow.has_variations a:hover {
  background-color: #eee;
}
#mp_product_list .mp_link_buynow.has_variations .mp_variation_flyout_name {
  color: #666;
  float: left;
  font-weight: 400;
}
#mp_product_list .mp_link_buynow.has_variations .mp_variation_flyout_price {
  color: #000;
  float: right;
}
#mp_product_list .mp_link_buynow.has_variations.transitioning ul {
  display: block;
}
#mp_product_list .mp_link_buynow.has_variations.visible ul {
  bottom: 30px;
  opacity: 1;
}
