/* MarketPress Style: Default */

.boxShadow( @s ) {
		-moz-box-shadow: @s;
		-webkit-box-shadow: @s;
	box-shadow: @s;
}

.boxSizing( @s ) {
		-moz-box-sizing: @s;
		-webkit-box-sizing: @s;
	box-sizing: @s;	
}

.transition( @s ) {
		-moz-transition: @s;
		-webkit-transition: @s;
	transition: @s;
}

.clearfix {
	&:after {
	  clear: both;
	  content: "";
	  display: table;
	}
}

#mp_product_list_refine {
	.one_filter {
		float: left;
		width: 50%;
	}
}

#mp_product_list {
	margin: 30px 0 15px;
	
	* {
		line-height: 1.3;
		margin: 0;
		padding: 0;
	}
}

#mp_single_product,
#mp_product_list {
	a {
		text-decoration: none;
	}
	
	.mp_link_buynow,
	.mp_button_addcart,
	.mp_button_buynow {
		background: #448cf8;
		border: 0;
		border-radius: 5px;
		.boxShadow(none);
		color: #fff;
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		margin-top: 30px;
		padding: 7px 12px;
		text-transform: uppercase;
		.transition(background-color 300ms);
		
		&:hover {
			background-color: #000;
		}
	}
		
	.mp_price_buy {
		text-align: right;
		
		&.sticky {
			position: absolute;
				left: 0;
				bottom: 10px;
			.boxSizing(border-box);
			padding: 0 10px;
			width: 100%;
		}
	}
		
	.mp_excerpt {
		margin-bottom: 10px;
	}
	
	.mp_one_product {
		position: relative;
		border: 1px solid transparent;
		.boxSizing(content-box);
		border-radius: 5px;
		padding: 10px;
		.transition(all 300ms);	
	}
	
	.mp_one_tile {
		margin-bottom: 15px;
		
		&:hover .mp_one_product {
			background: #fafafa;
			border-color: #ddd;
		}
	}
	
	.mp_product_name {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
		
		a {
			text-decoration: none;
		}
	}
	
	img.photo {
		margin-bottom: 20px;
		max-width: none;
		max-width: 100%;
	}
	
	.mp_normal_price,
	.mp_sale_price {
		display: block;
		font-size: 1.2em;
		text-align: right;
	}
	
	.mp_savings_amt {
		color: #ae0303;
		display: block;
		font-size: .8em;
	}
	
	strike.mp_normal_price {
		color: #999;
		font-size: .8em;
	}
	
	&.mp_grid {
		display: table;
		width: 100%;
		
		.mp_grid_row {
			display: table-row;
		}
		
		.mp_one_tile {
			display: table-cell;
		}
	}
}

#mp_single_product {
	.mp_normal_price,
	.mp_sale_price,
	.mp_savings_amt,
	.mp_buy_form {
		margin: 0;
		padding: 0;
		text-align: left;
	}
	
	.mp_product_content {
		border-top: 2px solid #eaeaea;
		margin-top: 30px;
		padding-top: 30px;
	}
	
	.mp_product_meta {
		position: relative;
	}
	
	.mp_buy_form {
		position: absolute;
			right: 0;
			bottom: 0;
		text-align: right;
		
		input {
			margin-top: 0;
		}
	}
	
	.mp_savings_amt {
		font-size: 1em;
	}
	
	.mp_normal_price,
	.mp_sale_price {
		font-size: 1.4em;
	}
}